.notification-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 90%;
    gap: 1rem;
    /* border: #6b6262 1px solid; */
    border-radius: 1rem;
    padding: 1rem;
}

.invitation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #6b6262 1px solid;
    width: 100%;
    /* display: none; */
    max-height: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.meassage-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: #6b6262 1px solid;
    width: 50%;
    max-height: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.invitation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.invitation-header button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #1e1e1e;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

.invitation-header button:hover {
    background-color: #2a2929;
}

.invitation-header button.active {
    background-color: #ff3b6cc6;
    color: rgb(255, 255, 255);
}

.refresh-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.invitation-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    border-radius: 1rem;
    gap: 16px;
}

.invitations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
}
.invitation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  width: 100%;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
}

.invitation-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.invitation-details h2 {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}

.invitation-details p {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 4px 0 0 0;
}

.invitation-actions {
  display: flex;
  /* flex-direction: column; */
  gap: 12px;
}

.accept-button,
.decline-button {
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.accept-button {
  background-color: #38a169; /* Green */
  color: white;
}

.accept-button:hover {
  background-color: #2f855a;
}

.decline-button {
  background-color: #e53e3e; /* Red */
  color: white;
}

.decline-button:hover {
  background-color: #c53030;
}

.search-results {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 0.5px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-result-item {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap : 10px;
  cursor: pointer;
  border-bottom: 1px solid #1e1e1e;
  background-color: transparent;
  transition: background 0.2s;
}

.search-result-item.selected {
  background-color: #23272f;
  border-left: #38a169 4px solid; /* subtle green accent */
}

.user-avatar {
  width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.no-users-found {
  padding: 10px;
  color: #888;
}

.selected-users {
  margin-bottom: 20px;
}

.selected-users-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-user-item {
  padding: 10px;
  border-bottom: 1px solid #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-user-btn {
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.no-users-selected {
  color: #888;
}


.project-members-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  gap: 1rem;
}

.team-member-container {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  gap: 1rem;
  margin-bottom: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
}

.project-member-item{
  display: flex;
  align-items: center;
  border: #ffffff 0.1px solid;
  width: 100%;
  gap: 1rem;
  padding: 20px;
  border-right: #e0e0e0 4px solid; /* subtle green accent */
  margin-bottom: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role.manager{
  color: #38a169; /* Green */
  font-weight: bold;
}

.role{
  color: #7e9ec7; /* Red */
  font-weight: bold;
}





/* Css for the Conversataions */
.meassage-container {
    display: flex;
    flex-direction: column;
    border: #6b6262 1px solid;
    width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 100%;
    margin: 2rem 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.message-header {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #6b6262;
  align-items: center;
  justify-content: space-between;
}

.online-members-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.online-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  background: #ccc;
}

.online-members-container .online-avatar:first-child {
  margin-left: 0;
}
.message-header h2 {
  font-size: 1.2rem;
  color: #f4f1f1;
}

.message-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 700px; */
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
  gap: 16px;
}
.message-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.message-top{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 800px;
}

.message-details {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 0.5rem;
  border-radius: 0.8rem;
  width: fit-content;
  min-width: 100px;
  max-width: 400px;
}
.message-sender {
  font-weight: bold;
  color: #757373;
  border-bottom: 1px solid #6b6262;
}
.message-text{
  color: #f4f1f1;
  margin-top: 0.2rem;
  font-size: 1rem;
}
.message-bottom {
  display: flex;
  color: #6b6262;
  font-size: 0.8rem;
  /* align-self: end; */
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-item.own{
  align-self: flex-end;
}

.message-item.own .message-details {
  background: linear-gradient(120deg, #1D2671 0% , #C33764 100%);
}
.message-item.own .message-sender {
  color: #ffffff;
}

.message-item.own .message-bottom {
  justify-content: flex-end;
}

.message-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.message-footer textarea{
  flex: 1;
  padding: 0.5rem;
  height: max-content;
  border: none;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  color: #f4f1f1;
  border: none !important;
}

.send-icon{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
  color: #ff3b6cdf;
  transition: color 0.3s ease;
}

.send-button{
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff3b6cdf;
  color: #fff;
  height: 70%;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  }

  .send-button:hover {
    background-color: #c72c50;
}
